batch_processing_poc/src/main/mule/batch_processing_poc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="3b8c74aa-2b72-4a1d-8abb-e93ca74321de" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<file:config name="File_Config" doc:name="File Config" doc:id="bb95868d-d2e0-4e2f-93b1-7f94fe7a499d" />
	<file:config name="File_Config1" doc:name="File Config" doc:id="dd063e43-48e9-4507-9899-6d509e51da2e" />
	<flow name="batch_processing_pocFlow" doc:id="4ab5f749-9567-4a2e-b599-593a4b747a84" >
		<scheduler doc:name="Scheduler" doc:id="08908c6d-a373-4149-831d-4f614f39033a" >
			<scheduling-strategy >
				<fixed-frequency timeUnit="HOURS"/>
			</scheduling-strategy>
		</scheduler>
		<file:read doc:name="Read" doc:id="02c671b0-d3f5-4e0e-bfaa-876705537c8c" config-ref="File_Config" path="D:\AnypointStudio_Workspace\batch_processing_poc\src\main\resources\input\input.csv"/>
		<ee:transform doc:name="Transform Message_1" doc:id="0f4eee4e-de7b-4553-b6c6-94e8d48433b6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json

---
payload map ( payload01 , indexOfPayload01 ) -> {
	ID: payload01.ID,
	AreaCode: payload01.AreaCode,
	Year: payload01.Year,
	Count: payload01.Count,
	Population: payload01.Population
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<batch:job jobName="batch_processing" doc:id="6cf96d6c-5916-48eb-9dec-d09aa6c99ee4">
			<batch:process-records >
				<batch:step name="Batch_Step" doc:id="fff7de8d-fc31-4e58-afa1-3d1f142b3f62" acceptPolicy="ALL">
					<set-payload value="#[payload]" doc:name="Set Payload" doc:id="0d05b468-e8ac-4816-8fb6-36180e2d6487" />
					<batch:aggregator doc:name="Batch Aggregator" doc:id="9ca734b0-0106-4196-9f15-5434d4c3b6b4" size="5">
						<ee:transform doc:name="Transform Message_2" doc:id="be068f75-8af8-48ac-9e32-98b16ae7599a" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<file:write doc:name="Write" doc:id="29b42a45-2846-42e7-994a-6f7a86cee218" config-ref="File_Config1" path="#['D:\AnypointStudio_Workspace\output\output_' ++ ( now() as String {format:'yyyy-mm-dd-hh-mm-ss'} ) ++ (random() * 1000) ++ '.json']" mode="CREATE_NEW"/>
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<logger level="INFO" doc:name="Logger" doc:id="98b2f1ea-3c88-4185-bc26-19bf2fa12e10" message="#[payload]"/>
			</batch:on-complete>
		</batch:job>
	</flow>
</mule>
